<div class="center">
<h2> Welcome to Reminder App </h1>
<h4> We have the following reminders </h4> <br>
<table class="table">
    <thead>
      <tr>
        <th> Reminder </th>
        <th> occurence </th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td> <%= %> </td>
          <td> <%= %> </td>
        </tr>
    </tbody>
  </table>
  </div>
